{% doc %}
  Renders a text element.

  @example
  {% content_for 'block', type: 'text', id: 'text-1' %}
{% enddoc %}

{%- if block.settings.text != blank -%}
  <span class="text-block">{{ block.settings.text }}</span>
{%- endif -%}

{% schema %}
{
  "name": "Text",
  "settings": [
    {
      "type": "textarea",
      "id": "text",
      "label": "Text",
      "default": "Marquee text"
    }
  ]
}
{% endschema %}
