<div class="featured-collection full-width">
  <div class="featured-collection__container">
    <h1 class="featured-collection__title">Featured Collection</h1>
  </div>
</div>

{% stylesheet %}
  .featured-collection {
    width: 100%;
    padding: 4rem 1rem;
  }

  .featured-collection__container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .featured-collection__title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:general.featured_collection",
  "settings": [],
  "presets": [
    {
      "name": "t:general.featured_collection",
      "category": "t:general.collections"
    }
  ]
}
{% endschema %}
